.nutriscore p{
    font-size: 0.7rem;
}

.orange{
    color: rgb(255, 115, 0);
}

.carte{
    width: 32%;
}

a:hover{
    cursor: pointer;
}

@media(max-width:640px){
    .carte{
        width: 100%;
    }

    .carte>div{
        text-align: center;
    }
}